
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;400;700 &famiglia= Spettrale:wght@200;400;700 & display=swap');

body{
    font-family: 'Roboto'serif;
}
/* HEADER */

/* NAV */
#navBar{
    height: 75px;
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: 'Spectral', sans-serif;
    position: sticky;
    top: 0;
    padding: 0em 5em;
}
#navBar.scroll{
    background-color: white;
}
#navBar img {
    width: 15%;
cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
    margin-right: 1em;
    cursor: pointer;
}
.menu button{
    background-color: #191919;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1em;
}
/* TOP BAR */
#topBar{
    height:455px ;
    background-color: #ffc017;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    margin-left: 5em;
    font-family: 'Roboto', sans-serif;
}
#text h1{
    font-size: 5em;
    margin-bottom: 0.5em;
font-family: 'Roboto';
}
#text p{
    font-family: 'Roboto', sans-serif;
}
#text button{
    background-color: #191919;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-top: 2em;
}

/* MAIN */
/* SECTION */
.section{
    display: flex;
    flex-direction: column;
   
    
    margin: 1em 5em;
}
.trend{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Spectral',serif;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.card{
    width: 30%;
    display: flex;
    margin-bottom: 1.5em;
    
}
article #num{
    font-size: 2em;
    color: lightgray;
    margin-right: 0.7em;
    font-family: 'Spectral',serif;
    font-weight: 700;
}
.cardText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-right: 1em;
    
}
 .user{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.8em;
    font-family: 'Roboto';
}
.user img{
    border-radius: 20px;
    width: 10%;
    margin-right: 0.5em;
}
.cardText a{
    font-weight: 700;
    font-size: 1em;
    margin: 0.5em 0;
    font-family: 'Roboto';
    cursor: pointer;
}
.cardText span{
    color: gray;
    font-weight: 400;
}
 #end{
    color: gray;
    font-size: 0.8em;
    font-family: 'Roboto';
}

/* MAIN */
#main{
    display: flex;
    align-items: baseline;
}
#cardContainer2{
    width: 60%;
    margin: 1em 5em;
    display: flex;
    flex-direction: column;
}
.card2{
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
}
#picture{
    width: 30%;
}
.lastLine{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; 
    font-size: 0.8em;
    color: gray;
}
#endText{
    display: flex;
    width: 100%;
    align-items: center;
}
#endText img{
    width: 5%;
}
.bord{
    background-color: lightgray;
    padding: 0.3em;
    border-radius: 20px;
    margin-right: 0.2em;
}

/* ASIDE */
#buttonContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 150px;
    margin-right: 5em;
    align-items: flex-start;
    justify-content: space-between;
    position: sticky;
    top: 100px;
}
#buttonContainer h2{
    font-size: 0.8em;
    font-weight: 700;
}

.btn{
    margin: 1em 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
}
.btn button{
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin: 0.2em;
    color: gray;
    cursor: pointer;
}

footer{
    display: flex;
    flex-wrap: wrap;
}

footer a{
    color: gray;
    text-decoration: none;
    margin-right: 1em;
    margin-bottom: 0.5em;
}